.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b6b6b6;
    margin: 0px;
    padding: 0;
}
.footer .socialshare .col-full {
    padding: 4.5% 0;
}
.footer .socialshare .large-3 {
/*    margin-top: 20px;*/
    text-align: center;
}
.footer .socialshare label {
    text-transform: uppercase;
    font-family:"proxima-nova";
    font-weight: 600;
    font-size: 16px;
     line-height: 56px;
}
.footer .socialshare a,
.single-post-share .social-sharing a {
    background-color: #8fb352;
    background-image: none;
    color: #ffffff;
    padding: 4px 60px 3px 0;
/*    padding: 8px 60px 8px 0px;*/
    border-radius: 3px;
    font-family:"proxima-nova";
    font-weight: 700;
    height: auto;
}
.footer .socialshare a:hover,
.single-post-share .social-sharing a:hover {
    background: #8fb352;
    color: #ffffff;
}
.footer .socialshare a.button-facebook:before,
.single-post-share .social-sharing a.button-facebook:before {
    content: "\f09a";
    font-family: FontAwesome;
    background-color: #667f3a;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 14px 11px;
    border-radius: 3px;
    margin-right: 20px;
}
.footer .socialshare a.button-twitter:before,
.single-post-share .social-sharing a.button-twitter:before {
    content: "\f099";
    font-family: FontAwesome;
    background-color: #667f3a;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 10px 11px;
    border-radius: 3px;
    margin-right: 20px;
}
.footer .socialshare a.button-googleplus:before,
.single-post-share .social-sharing a.button-googleplus:before {
    content: "\f0d5";
    font-family: FontAwesome;
    background-color: #667f3a;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 10px 11px;
    border-radius: 3px;
    margin-right: 20px;
}
.footer .socialshare a.button-linkedin:before,
.single-post-share .social-sharing a.button-linkedin:before {
    content: "\f0e1";
    font-family: FontAwesome;
    background-color: #667f3a;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 10px 11px;
    border-radius: 3px;
    margin-right: 20px;
}
.footer .numbersection .col-full .columns.large-6 {
    padding: 6.3% 0;
}
.footer .numbersection .col-full .columns.large-6:first-child {
    display: block;
    border: 0;
    border-right: 1px solid #b6b6b6;
    margin: 0px;
}
.footer .numbersection .col-full label {
    font-weight: 600;
    margin-left: 40px;
    margin-right: 10px;
    text-transform: uppercase;
    font-family:"proxima-nova";
    font-size: 16px;
}
.footer .numbersection .col-full i {
    font-size: 23px;
}
.fa-phone {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.footer .numbersection .col-full span {
    font-size: 23px;
    font-weight: 600;
    margin-left: 5px;
    display: inline-block;
}
.footer .numbersection .col-full .large-6:first-child a {
    color: #444444;
    text-decoration: none;
}
/*.footer .numbersection .col-full .large-6:last-child a {
    border: 1px solid #8fb352;
    padding: 12px 40px;
    text-transform: uppercase;
    color: #8fb352;
    text-decoration: none;
    font-family:"proxima-nova";
    font-weight: 600;
    font-size: 16px;
} */
.footer .numbersection .col-full .large-6:last-child {
    text-align: center;
}
/*.footer .numbersection .col-full .large-6:last-child a:hover {
    background-color: #8fb352;
    color: #ffffff;
}*/
.footer .ournetworklogo .col-full p {
    font-weight: 600;
padding-top: 3.5%;
    padding-bottom: 1.2%;
    text-transform: uppercase;
    text-align: center;
    font-family:"proxima-nova";
    font-size: 16px;
    
}
.footer .ournetworklogo ul {
    display: table;
    margin: 0 auto;
      padding-top: 0;
    text-align: center;
    padding-bottom: 4%;
}
.footer .ournetworklogo ul li {
    float: left;
    height: 100px;
    line-height: 100px;
    width: 200px;
}
.footer .address .columns.large-6 {
    padding: 4% 0;
}
.footer .address .columns.large-6:last-child {
    display: block;
    border: 0;
    border-left: 1px solid #b6b6b6;
    margin: 0px;
}
.footer .address .columns.large-6 .columns.large-9 {
    font-weight: 600;
    padding: 0 0 0 10%;
    text-transform: uppercase;
    font-family:"proxima-nova";
     line-height: 22px;
     font-size: 18px;
}
.footer .address .columns.large-6 .columns.large-9 a {
    color: #8fb352;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:"proxima-nova";
    font-weight: 600;
}
.footer .address .col-full .columns.large-6 .columns.large-4:first-child {
/*    margin-left: 30px;*/
}
.footer .address .resourse-col label, .footer .address .secondmobilemenu label {
    text-transform: uppercase;
    font-family:"proxima-nova";
    font-weight: 600;
    font-size: 18px;
     line-height: 18px;
}
.footer .address .resourse-col ul, .footer .address .secondmobilemenu ul {
    margin-top: 10px;
}
.footer .address .resourse-col ul li a, .footer .address .secondmobilemenu ul li a {
    color: #8fb352;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family:"proxima-nova";
    font-weight: 600;
     line-height: 18px;
       font-size: 16px;
        word-wrap: normal;
    
}
.footer .address .col-full .columns.large-6 .columns.large-4 {
    padding-right: 0;
}
.footer .address .col-full .fa {
    background-color: #8fb352;
    color: #ffffff;
}
.footer .address .col-full .fa-facebook {
    padding: 8px 12px 6px;
    font-size: 20px;
}
.footer .address .col-full .fa-google-plus {
    padding: 8px 5px 6px 10px;
    font-size: 20px;
}
.footer .address .col-full .fa-twitter {
    padding: 8px 9px 6px 9px;
    font-size: 20px;
}
.footer .address .col-full .fa-linkedin {
    padding: 8px 7px 6px 7px;
    font-size: 20px;
}
.footer .copyright p {
    color: #7d7d7d;
    font-size: 11px;
    padding: 40px 0 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family:"proxima-nova";
    
}
.mega-menu .mega-menu-link {
    font-family:"proxima-nova" !important;
    font-weight: 600;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-contactsubmenu li.mega-menu-item > a.mega-menu-link {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-contactsubmenu li.mega-menu-item > a.mega-menu-link:hover {
    color: #ffffff;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-contactsubmenu li {
    padding: 10px 0;
    border-top: 1px solid;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-contactsubmenu ul {
    padding-top: 10px;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-resources-megamenu {
    border-top: 1px solid;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-resources-megamenu .inner-resource {
    width: 20%;
    float: left;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-mobilemenu i {
    display: none;
}
.breadcrumb {
    color: #ffffff;
    position: absolute;
    z-index: 1;
    padding-left: 1%;
    margin-top: 5px;
}
.breadcrumb li {
    display: inline-block;
    padding-left: 0 !important;
}
.breadcrumb li a {
    text-decoration: none;
    font-family:"proxima-nova";
    font-weight: 400;
    
}
.breadcrumb li span {
    font-size: 14px;
    font-family:"proxima-nova";
    font-weight: 400;
    color: #8fb352;
}
.breadcrumb > li + li::before {
    color: #8fb352;
    content: "/ ";
    font-size: 14px;
}
body .box.gray {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 0 none;
    font-family: "proxima-nova";
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 0;
    padding: 34px;
}
body .box.gray h3 {
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 800;
}
body .box.gray .sub-text {
    font-family:"proxima-nova";
    font-weight: 300;
    font-style:italic
    font-size: 36px;
    margin-bottom: 0.5em;
    color: #808080;
}
body .box.gray p {
    font-family:"proxima-nova";
    font-weight: 300;
    color: #808080;
}
.locations section h1 {
    font-family:"proxima-nova";
    font-weight: 800;
    color: #444444;
    text-align: center;
}
.locations section p {
    color: #808080;
    text-align: center;
    padding: 0 4em;
}
.locationlist .columns.large-4 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2em;
    text-align: center;
}
.locationlist .columns.large-4 h3 {
    font-family:"proxima-nova";
    font-weight: 600;
    color: #444444;
    padding: 27px 2em 19px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 0.2em;
    line-height: 36px;
}
.locationlist .columns.large-4 p {
    font-family:"proxima-nova";
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}
.locationlist .columns.large-4 .maptext {
    display: inherit;
    font-size: 15px;
    padding: 1em;
    text-align: center;
    width: 100%;
}
.readmore {
    text-transform: uppercase;
    border: 1px solid #8fb352;
    color: #8fb352;
    font-family:"proxima-nova";
    font-weight: 600;
    padding: 0.8em 2.5em;
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
}
.readmore:hover {
    background-color: #8fb352;
    color: #ffffff;
    text-decoration: none;
}
#map_wrapper {
    height: 500px;
    height: 65vh;
}
#map_canvas {
    width: 100%;
    height: 100%;
}
.locationdetail h2 {
    font-family:"proxima-nova";
    font-weight: 800;
    font-size: 36px;
    color: #444444;
}
.locationdetail h3 {
    font-family:"proxima-nova";
    font-weight: 800;
    font-size: 24px;
    color: #444444;
}
.locationdetail .facilityphotos {
    padding: 4.5% 4.5% 2.2%;
}
.locationdetail .facilityphotos h2 {
    padding-bottom: 2.8%;
    padding-left: 20%;
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 800;
    font-size: 36px;
}
.locationdetail .facilityphotos .columns.large-12 {
    padding-top: 2%;
    text-align: center;
}
.locationdetail .facilityphotos h3 {
    padding-bottom: 1em;
    padding-left: 1.8em;
}
.locationdetail .facilityphotos .columns.large-3 {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.locationdetail .aboutsection {
    padding-left: 17.4%;
    padding-right: 17.4%;
    padding-bottom: 4%;
}
.locationdetail .aboutsection p {
font-family: "proxima-nova";
    font-size: 20px;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    text-align: left;
}
.locationdetail .aboutsection h2 {
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 800;
    font-size: 36px;
}
.locationdetail .brochure {
    text-align: center;
    background: rgba(0, 0, 0, 0) url("../images/paper-subtle.png") repeat scroll 0 0;
    padding-bottom: 4.5%;
    padding-top: 3.4%;
    margin: 15px;
    display:inline-table;
    width:100%;
}
.locationdetail .brochure h3 {
    font-family:"proxima-nova";
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    color: #444444;
    letter-spacing: 5px;
    padding-top: 1.5em;
}
.locationdetail .brochure p {
    font-size: 22px;
    font-family:"proxima-nova";
    font-weight: 300;
}
.locationdetail .brochure a {
    margin-top: 2em;
}
.locationdetail .videosection {
    padding-bottom: 4%;
    padding-left: 17.4%;
    padding-right: 17.4%;
}
.locationdetail .videosection h2 {
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 800;
    font-size: 36px;
    padding-bottom: 4.6%;
    padding-top: 4.6%;
}
.locationdetail .videosection iframe {
    padding-bottom: .5em;
}
.locationdetail .videosection h3 {
    padding-bottom: 1em;
    padding-top: 1.5em;
}
.locationdetail ul {
    list-style-image: url("../images/bullets-1.png");
    padding-left: 14px;
}
.locationdetail ul li {
    padding-bottom: 5px;
    padding-top: 5px;
}
.locationdetail .videosection p {
    font-size: 20px;
    font-family:"proxima-nova";
    font-weight: 300;
}
.contactpage .headersection {
    text-align: center;
    padding: 5% 0;
}
.contactpage h2 {
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 800;
    font-size: 36px;
    padding: 0% 0 2% 0;
}
.contactpage h3 {
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 600;
    font-size: 20px;
    padding: 1% 0 1% 0;
}
.contactpage p {
    font-size: 20px;
    font-family:"proxima-nova";
    font-weight: 300;
    padding: 0 15%;
}
.contactpage .middlection {
    background-color: #e6e6e6;
}
.contactpage .middlection p {
    padding: 2% 10% 0 0;
}
.contactpage .middlection .columns.large-5 {
    padding-top: 6.5%;
}
.contactpage .middlection .columns.large-7 ul {
    list-style: inside;
    padding-top: 2%;
}
.contactpage .middlection .columns.large-7 ul li {
    padding: 5px 0 !important;
}
.contactpage .middlection .contact-options {
    padding-bottom: 4%;
}
.contactpage .middlection .contact-options .columns.large-4 {
    background-color: #ffffff;
    padding: 4% 1%;
    margin-right: 1.5%;
    width: 32.3%;
    margin-bottom: 5px;
}
.contactpage .middlection .contact-options .columns.large-4:last-child {
    margin-right: 0;
}
.contactpage .middlection .columns.large-12.middlefirst {
    padding-bottom: 3%;
    padding-top: 5%;
}
.contactpage .map {
    max-height: 250px;
}
.aboutauthor_section {
    background-color: #667f3a;
}
.aboutauthor_section .aboutkath {
    margin-bottom: 0;
    background: #667f3a none repeat scroll 0 0;
}
.aboutauthor_section .aboutkath p {
    color: #ffffff;
    margin-bottom: 2.5%;
/*    padding-right: 25%;  */
}
.aboutauthor_section .aboutkath h3 {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    font-family:"proxima-nova"; 
    font-weight: 800; 
}
.aboutauthor_section .aboutkath h4 {
    color: #ffffff;
    font-size: 20px;
    font-family:"proxima-nova";
    font-weight: 400;
    padding-bottom: 1.5%; 
}
.aboutauthor_section .aboutkath .sub-text {
     color: #fff;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
    padding: 2% 8% 2% 0;
}
.aboutauthor_section .aboutkath .sub-text_second {
     font-family: "proxima-nova";
    font-size: 38px;
    font-style: italic;
    font-weight: 300;
    line-height: 37px;
    padding: 3% 0 2%;
}
.aboutauthor_section .aboutkath {
    margin-bottom: 0px;
    background: transparent none repeat scroll 0 0;
}
.aboutauthore_welcome .box.gray {
    background: transparent none repeat scroll 0 0;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 80px !important;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #8fb352 url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 999999;
}
.cd-top.cd-fade-out {
    opacity: 1;
}
.no-touch .cd-top:hover {
    background-color: #0977c3;
    opacity: 1;
}
.archive #main-sidebar-container #main,
.search #main-sidebar-container #main {
    padding: 3.5% 21.3%;
}
.archive #main header h3 a,
.search1 #main header h3 a {
    font-size: 30px;
    text-align: left;
}
.archive section.entry,
.search section.entry {
    padding: 0 !important;
    margin-top: 22px;
}
.archive section#main article h2 {
    font-family:"proxima-nova";
    font-weight: 800;
    color: #444444;
    font-size: 32px;
}
.search section#main article h2 {
    /* font-family:"proxima-nova";
    font-weight: 800;
    font-size: 32px; */
    color: #444444; */
    
}
.search section#main article h2 a {
   /* color: #444444; */
}
.archive .post-more {
    border-bottom: 0 none !important;
    border-top: 0 none;
    margin-bottom: 32px;
    margin-top: 14px;
}
.search .post-more {
    border-bottom: 0 none !important;
    border-top: 0 none;
    margin-bottom: 32px !important;
    margin-top: 14px !important;
}
.archive .post-meta,
search .post-meta {
    margin: 3px 0;
}
.archive article .woo-image {
    width: 100%;
}
.archive article .post_thumbnail,
.search article .post_thumbnail {
    margin-top: 12px;
    overflow: hidden;
    height: 350px;
}

.archive article .post_thumbnail {
    margin-top: 24px;
    height: 230px;
    width: 300px;
    margin-bottom: 0px;
}

article .post_thumbnail img {
    width: 100%;
    height: auto;
}

.archive .archive_header,
.search .archive_header {
    color: #8fb352;
    font-size: 36px;
    font-family:"proxima-nova";
    font-weight: 800;
}
.blog .post_thumbnail img {
    width: 100%;
}
.staffdetail .staffsection {
    padding-left: 17.4%;
    padding-right: 17.4%;
    padding-bottom: 4%;
    padding-top: 6%;
}
.staffdetail .staffsection p {
    font-family:"proxima-nova";
    font-weight: 300;
    font-size: 20px;
    padding-top: 1em;
}
.staffdetail .staffsection h2 {
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 800;
    font-size: 36px;
}
.staffdetail .staffsection .staffmiddlesection {} .staffdetail .staffsection .staffmiddlesection hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b6b6b6;
    margin: 4% 0 2%;
    padding: 0;
}
.single-staff .breadcrumb {
    color: #808080;
}
.single-staff .breadcrumb > li + li::before {
    color: #808080;
}
.single-staff .staffheadersection .staff-info .large-9,
.single-staff .staffheadersection .staff-info .large-3 {
    padding: 0px;
}
.single-staff .staffheadersection .staff-info .authoreimg {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 25px;
}
.single-staff .staffheadersection .staff-info .spost {
    float: none;
}
.single-staff .staffheadersection .staff-info h1 {
    font-size: 36px;
    color: #444444;
    font-family:"proxima-nova";
    font-weight: 800;
}
.single-staff .staffheadersection .staff-info .large-3 a {
    display: inline-block;
    margin-top: 10%;
}
.staff-member.columns:last-child {  float: left !important; }
@media only screen and (max-width: 360px) {
    .footer .ournetworklogo .col-full p {
        padding-top: 10%;
    }
    .footer .numbersection .col-full .large-6 a {
        display: inline-block;
    }
    .footer .address .columns.large-6 .large-3.small-5 {
        width: 100%;
    }
    .footer .address .columns.large-6 .columns.large-9.addressmob {
        margin-top: 20px;
        width: 100%;
    }
    .footer .address .columns.large-6 .large-3 {
        margin-top: 20px;
    }
    .footer .address .col-full .columns.large-6 .columns.large-4 {
        width: 100%;
    }
    .footer .address .col-full .columns.large-6 .columns.large-4.small-6.secondmobilemenu {
        width: 100%;
        padding-left: 15%;
    }
    .locationdetail .facilityphotos .columns.large-3 {
        width: 100%;
    }
    .locationdetail .videosection iframe {
        height: 100%;
    }
    .contactpage .middlection .columns.large-12 .large-7 {
        width: 100%
    }
    .contactpage .middlection .columns.large-12 .large-5 {
        width: 100%
    }
    .contactpage .middlection .contact-options .columns.large-4 {
        width: 100%;
        font-size: 13px;
    }
    .single-staff .staffheadersection .staff-info .large-3 {
        text-align: center;
        width: 100%
    }
    .single-staff .staffheadersection .staff-info .large-9 {
        padding-top: 7%;
        width: 100%
    }
}
@media only screen and (max-width: 768px) {
   .columns.large-9.small-12.addressmob {
                padding-left:0 !important;
                text-align:center;
            }
    .contact-the-canyon{
        padding-top: 40px;
        padding-top: 8vh;
    }
    .footer .socialshare .social-sharing a {
        text-indent: 1px;
        width: 100%;
        background-image: none !important;
        text-align: left;
        padding-right: 5px;
        line-height: 30px;
/*        height: 43px;*/
    }
    .footer .numbersection .col-full .columns.large-6 {
        text-align: center;
        padding: 5% 0;
    }
    .footer .ournetworklogo ul li {
        width: 50%;
    }
    .footer .address .columns.large-6 .large-3 {
        text-align: center;
    }
    .footer .address .col-full .columns.large-6 .columns.large-4:first-child {
        margin-left: 0px;
        padding-left: 0% !important;
        text-align: center;
    }
    .footer .address .first-col {
    margin-left: 0px !important;
    }

    .footer .address .columns.large-6:first-child {
        border: none;
    }
    .footer .address .columns.large-6 .large-3.socialiconmob {
        margin-top: 20px;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-mobilemenu {
        width: 100%;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-mobilemenu > a {
        cursor: default;
        float: left;
        width: 90%;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-mobilemenu i {
        font-size: 24px;
        cursor: pointer;
        margin-top: 4px;
        position: absolute;
        color: #ffffff;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu {
        padding-top: 0 !important;
        height: 400px;
        overflow: auto;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-contactsubmenu {
        width: 100%;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-contactsubmenu ul {
        padding-top: 0px;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-contactsubmenu li {
        border-top: none;
        padding-bottom: 0;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-resources-megamenu {
        border-top: none;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-resources-megamenu .inner-resource {
        width: 100%
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-mobilemenu i {
        display: inline-block;
    }
    .locations section p {
        padding: 0;
    }
    .locationlist .columns.large-4 {
        width: 100%;
    }
    .locationdetail .aboutsection {
        padding: 20px;
    }
    .staffdetail .staffsection {
        padding: 20px;
    }
    .locationdetail .facilityphotos {
        padding: 20px;
    }
    .locationdetail .facilityphotos h2 {
        padding-left: 8px;
    }
    .locationdetail .facilityphotos .columns.large-12 {
        padding-left: 9px;
        text-align: center;
    }
    .locationdetail .videosection {
        padding: 20px;
    }
    .contactpage p {
        padding: 0 15px;
    }
    .contactpage .middlection .contact-options .columns.large-4 {
        width: 100%;
    }
    .aboutauthor_section .box.gray {
        padding: 4% 4%;
    }
    .aboutauthor_section .box.gray p {
        padding-right: 0;
    }
    .aboutauthor_section .box.gray .sub-text {
        padding-right: 0;
    }
    .aboutauthor_section .box.gray .sub-text_second {
        padding: 0;
        font-size: 30px;
    }
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
    .archive #main-sidebar-container #main,
    .single-post #main-sidebar-container #main article,
    .single-post .single-post-share {
        padding: 3.5% 5.3%;
    }
    .search #main-sidebar-container #main,
    .single-post #main-sidebar-container #main article,
    .single-post .single-post-share {
        padding: 3.5% 5.3%;
    }
    .single-staff .staffheadersection .staff-info .large-3 {
        text-align: center;
    }
    .single-staff .staffheadersection .staff-info .large-9 {
        padding-top: 2%;
    }
}
@media only screen and (max-width: 829px) {
    .footer .ournetworklogo ul li {
    width: 50%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer .socialshare .large-9 {
        text-align: center;
    }
    .footer .numbersection .col-full .columns.large-6 {
        text-align: center;
        padding: 2.5% 0;
    }
    .footer .address .col-full .columns.large-6 .columns.large-4:first-child {
        margin-left: 0px;
    }
    .footer .address .columns.large-6 .large-3 {
        text-align: center;
    }
    .footer .address .col-full .columns.large-6 .columns.large-4:first-child {
        padding-left: 15%;
    }
    .footer .address .columns.large-6:first-child {
        border: none;
    }
    .footer .address .columns.large-6 .large-3.socialiconmob {
        margin-top: 20px;
    }
    .locationlist .columns.large-4 {
        width: 33.3333%;
    }
    .locationlist .columns.large-4 h3 {
        font-size: 20px;
        padding: 7px;
    }
    .locations section p {
        padding: 0;
    }
    .locationdetail .facilityphotos .columns.large-3 {
        width: 25%;
    }
    .contactpage .middlection .contact-options .columns.large-4 {
        width: 32.33%
    }
    .aboutauthor_section .box.gray p {
        padding-right: 0;
    }
    .aboutauthor_section .box.gray .sub-text {
        padding-right: 0;
    }
    .aboutauthor_section .box.gray .sub-text_second {
        padding: 0;
        font-size: 30px;
    }
    .cd-top {
        height: 50px;
        width: 50px;
        right: 10px;
        bottom: 70px;
    }
    .archive #main-sidebar-container #main,
    .single-post #main-sidebar-container #main article,
    .single-post .single-post-share {
        padding: 3.5% 5.3%;
    }
    .search #main-sidebar-container #main,
    .single-post #main-sidebar-container #main article,
    .single-post .single-post-share {
        padding: 3.5% 5.3%;
    }
    .single-staff .staffheadersection .staff-info .large-3 {
        text-align: center;
    }       
}
body .box.green > p{
    width: 100%;
}
.breadcrumb {  
          overflow: hidden;
   text-overflow: "...";
   display: -webkit-box;
   max-height: 30px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
   white-space:nowrap;
    display: inline-block;
    min-width:320px;
     }
.breadcrumb li span{
    float:none;
}
.breadcrumb li{
     display: inline;
}
body .entry .content-wrap p{
    float:none;
     width: 100%;
}
body .ui-accordion h3.ui-accordion-icons{
    margin: 8px auto;
    width: 100%;
}
body .box.green{
    overflow: hidden;
}
.mobile-header .frnphonenumber span {
    color: #444;
    font-size: 17px;
}
.mobile-header .frnphonenumber h2 a, .mobile-header .frnphonenumber a, #mobile-header .frnphonenumber{
    color: #444 !important;
    font-size: 5.5vw !important;
    padding: 0 5px;
    padding: 0 1vw;
}
#header-container #mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link{
/*    display: block;   */
}
/*@media only screen and (max-width: 360px) { 
    #header-container #mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link::after{
         font-size: 32px;
    }
    #header-container #mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link{
         padding: 15px 11.4%;
    }
}*/
#main .testi-sec .row{
    text-align: center;
}
html body a.canyon-btn::before, body .footer .right-side-col .socialiconmob a i:after{
     -webkit-transform:scaleX(0);
     transform: scaleX(0);
      -o-transform : scaleX(0); 
      -moz-transform: scaleX(0); 
}
.footer .socialshare .social-sharing a:after, .single-post-share .social-sharing a:after{
        -webkit-transform:scaleX(0);
     transform: scaleX(0);
      -o-transform : scaleX(0); 
      -moz-transform: scaleX(0); 
}
.gm-style-mtc {
    display: none;
}