@font-face {
    font-family: "HelveticaNeueBd";
    src:url("../fonts/Helvetica Neu Bold.ttf") format("truetype");
}
#content .hero{
    /*    background :url("../images/shutterstock.jpg") no-repeat fixed 50% -25% / cover ;*/
    background: rgba(0, 0, 0, 0) url("../images/shutterstock.jpg") no-repeat fixed right top / cover ;
    height: 42rem;
}

#header.col-full {
    max-width: 100% !important;
    width: 100% !important;
    background: #fff none repeat scroll 0 0;
}
#header #logo img {
    height: auto;
}
#header .site-title > a {
    display: none;
}
#header .frnphonenumber span{
    /*    font-family: "Proxima Nova SemiBold"; */
    font-size:16px;
    color:#444444;
    font-family:"proxima-nova";
    font-weight: 600;
    line-height: 60px;
}
#header .frnphonenumber h2{
    line-height: 25px;
    display: inline-flex;
    margin: 0 auto;
}
#wrapper #header-container #header {
    padding: 0px 0px !important;
}
#header .large-2.logo_sec {
    width: auto;
    /*    margin-top: 16px;*/
}
#header #navigation {
    background: #ffffff none repeat scroll 0 0;
}
#header #nav-container {
    background: #ffffff none repeat scroll 0 0;
}
#header #navigation .nav li > a {
    line-height: unset;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    /*    font-family: "Proxima Nova SemiBold"; */
    font-family:"proxima-nova";
    font-weight: 600; 
    text-transform: uppercase;
    color: #444444;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 17px;
    line-height: 60px;
}
#header #navigation ul.rss li a::before, #header #navigation ul.nav-search a.search-contents::before {
color: #444444 !important;
}
#header #navigation ul.nav-search a.search-contents {
/*padding-top: 7px;*/
padding-bottom: 35px;
}
#header #navigation #main-nav li ul.sub-menu li a {
padding-bottom: 0.5em !important;
padding-top: 0.5em !important;
}
#navigation .menus.nav-icons-1 #main-nav{
/*margin-top: 6px;*/
}
#header #navigation {
padding-left: 0;
}
#header .frnphonenumber i {
color: #444;
font-size: 20px;
margin-right: 7px;
margin-top: 4px;
line-height: 50px;
}
#header .frnphonenumber{
float: left;
}
#header .single-menu {
color: #8fb352;
float: left;
font-size: 16px;
padding: 0 31px;
/*    margin-left: 10%;*/
text-transform: uppercase;
/*font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600;  
line-height: 60px;
}
.mega-menu #mega-menu-wrap-max_mega_menu_1 {
background: transparent none repeat scroll 0 0;
}
#header .mega-menu-sec ul.mega-menu li.mega-right-menu {
float: right !important;
/*margin-top: -60px;*/
margin-top: -60px !important;
_margin-top: -75px!important; /* apply to all ie from 8 and below */
} 

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
#header .mega-menu-sec ul.mega-menu li.mega-right-menu {
margin-top: -75px!important;
}
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu{
/*    margin-top: 18px;*/
padding-left: 75px;
padding-right: 75px;
background: #444 url("../images/menu-back.png") repeat scroll 0 0;
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
/*    text-align: center;*/
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-right-menu.mega-menu-megamenu.mega-menu-item{
background: #8fb352 none repeat scroll 0 0;
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link{
display: unset;
text-transform: uppercase;
font-weight:600;
}
#header #nav-container {
border-left: 1px solid #bfbfbf;
border-right: 1px solid #bfbfbf;
/*padding-bottom: 16px;*/
/*padding-top: 16px;*/
}
#header .contact-info {
/*margin-top: 16px;*/
}
#header #navigation .nav li.parent > a::after{
content:none;
}
#header-container {
/*position: fixed;
width: 100%;
z-index: 2147483647; */
background-color: #ffffff;
position: fixed;
width: 100%;
z-index: 17;
top:0; 
/*    height:60px;*/
border-bottom: 1px solid #bfbfbf;

}
#header #navigation ul.nav-search a.search-contents + ul {
background: #3f3f3f none repeat scroll 0 0 !important;
border-radius: 0;
padding: 25px;
right: -14px;
}
#header #navigation ul.nav-search .searchform input.s, .searchform input.s.field{
background: #212020 none repeat scroll 0 0;
border: 1px none #394648;
border-radius: 0;
padding: 9px;
/*font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300; 
font-size:12px;  
}
#header #navigation ul.nav-search #searchform, #navigation ul.nav-search .searchform{
margin-top: 0;
}
#header #navigation ul.nav-search .searchform .submit, .searchform button.submit {
background: #8fb352 none repeat scroll 0 0;
padding: 8.4px 10px;
top: 0;
/*font-family: "Proxima Nova SemiBold"; */
font-family:"proxima-nova";
font-weight: 600; 
font-size:16px;
padding: 3.3px 10px;
}
#header .searchform .fa-search::before, .searchform .fa-search::before {
content: "";
}
#content .hero::after {
background-color: #000;
bottom: 0;
content: "";
left: 0;
opacity: 0.4;
position: absolute;
right: 0;
top: 0;
z-index: 0;
height: inherit;
}
.hero .row.VCenter {
padding: 0 14.5% 9%;
text-align: center;
top: 16%;
z-index: 1;
transform: translateY(-7%);
-webkit-transform:translateY(-7%);
      -o-transform : translateY(-7%); 
      -moz-transform: translateY(-7%); 
}
hr.hero_line {
background-image: none;
color: #fff;
margin: 34px 0 58px;
}
h3.hero-title span {
/*font-family: "Proxima Nova SemiBold";*/
font-family:"proxima-nova";
font-weight: 600;  
font-size: 28px;
letter-spacing: 5.2px;
line-height: 36px;
text-transform: uppercase;
}
h5.hero-subtitle span {
font-size: 22px;
line-height: 36px;
text-transform: uppercase;
font-family: "Proxima Nova Light"; 
font-family:"proxima-nova";
font-weight: 300;   
}
.hero .row.hero-link-sec {
max-width: 100%;
padding: 0 0 90px;
width: 100%;
}
.hero .hero-link-sec a {
color: #8fb352;
font-size: 16px;
text-transform: uppercase;
/*font-family: "Proxima Nova SemiBold";*/
font-family:"proxima-nova";
font-weight: 600; 
opacity:1;  
}
.hero-link-sec .tour-link {
background: rgba(0, 0, 0, 0) url("../images/camera.png") no-repeat scroll 0 0;
height:19px;width:30px;
padding: 1px 38px;  
margin-left: 17%;
}
.hero-link-sec .works-link, .hero-link-sec a[rel~="wp-video-lightbox"]{
background: rgba(0, 0, 0, 0) url("../images/play.png") no-repeat scroll 0 0;
height: 30px;
padding: 7px 38px;
width: 30px;
}
.hero .row.VCenter.columns.hero-link-sec {
max-width: 100% !important;
padding: 0 3% 0%;
width: 100%;
}
.hero .hero-link-sec div {
padding: 21px 10px;
}
.hero .hero-link-sec div:nth-child(2) {
border-left: 1px solid #AFAFAD;
border-right: 1px solid #AFAFAD;
}
.hero .hero-link-sec a:hover {
text-decoration: none;
}
body.home #content{
z-index: 0;
}
body .lhn_help_btn{
background: transparent url("../images/Live-chat.png") no-repeat scroll 0 0 !important;
top: 46%;
 width: 50px;
}
body .lhn_options_container{
top: 175px;
}
section.diagnosis-sec{
margin:15px;
background: rgba(0, 0, 0, 0) url("../images/paper-subtle.png") repeat scroll 0 0;
text-align:center;
padding: 74px 0;
padding: 6% 0 8%;
clear: both;
}
.diagnosis-sec .row > h3 {
color: #444444;
font-size: 28px;
line-height: 36px;
text-transform: uppercase;
/*font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600; 
letter-spacing: 3px;
}
.diagnosis-sec .row > p {
color: #444444;
font-size: 22px;
line-height: 26px;
margin: 10px 0 6%;
text-transform: uppercase;
}
body a.canyon-btn {
border: 1px solid #8fb352;
color: #8fb352;
/*font-family: "Proxima Nova SemiBold";*/
font-family:"proxima-nova";
font-weight: 600; 
padding: 10px 34px;
position: relative;
text-transform: uppercase;
z-index: 10; 
font-size: 16px; 
backface-visibility: hidden;
/*    display: inline-block;*/
    position: relative;
    transform: translateZ(0px);
    -webkit-transform:translateZ(0px);
      -o-transform : translateZ(0px); 
      -moz-transform: translateZ(0px); 
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
.footer .right-side-col .socialiconmob a i{
  backface-visibility: hidden;
/*    display: inline-block;*/
    position: relative;
    transform: translateZ(0px);
    -webkit-transform:translateZ(0px);
      -o-transform : translateZ(0px); 
      -moz-transform: translateZ(0px); 
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;  
}
body a.canyon-btn:before, .footer .right-side-col .socialiconmob a i:after {
    background: #8fb352 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    -webkit-transform:scaleX(0);
      -o-transform : scaleX(0);
      -moz-transform: scaleX(0);
    transform-origin: 0 50% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
body a.canyon-btn:hover:before, body a.canyon-btn:focus::before, body a.canyon-btn:active::before, .footer .right-side-col .socialiconmob a i:hover:after, .footer .right-side-col .socialiconmob a i:focus::after, .footer .right-side-col .socialiconmob a i:active::after {
    transform: scaleX(1);
    -webkit-transform:scaleX(1);
      -o-transform : scaleX(1);
      -moz-transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.footer .right-side-col .socialiconmob a i:after{
    background: #667F3A none repeat scroll 0 0; 
}
body a.canyon-btn:hover {
    color: #fff;
}
a.canyon-btn:hover {
text-decoration: none;
}
.testi-sec {
background: rgba(0, 0, 0, 0) url("../images/testi-back.jpg") no-repeat fixed calc(50%) calc(10%) / cover ;
height: 100%;
position: relative;
width: 100%;
}
.testi-sec .row {
/*       padding: 6% 9% 4.6%;*/
padding: 4.2em 9% 50px;
}
.testi_wrap {
padding: 7%;
}
.testi-sec i {
color: #8fb352;
font-size: 25px;
margin-left: -7%;
padding-right: 2%;
}
.testi-sec::after {
background-color: #000;
bottom: 0;
content: "";
left: 0;
opacity: 0.7;
position: absolute;
right: 0;
top: 0;
z-index: 0;
}
.testi-sec .row {
color: #fff;
z-index: 5;
}
.testi-sec .testi-wrap {
z-index: 10;
border: 1px solid;
padding: 33px 2%;
}
.testi_wrapper {
padding: 2% 2% 0% 8%;
text-align: left;
}
.testi_wrapper > span {
font-size: 22px;
line-height: 30px;
/*font-family: "Proxima Nova Light Italic"; */
font-family:"proxima-nova";
font-weight: 300; 
font-style:italic;
}
.testi-sec .testi-auth {
font-size: 24px;
margin-right: 10%;
margin-top: 14px;
text-align: right;
/*font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600; 
}
/*.testi-sec .testi-wrap:before, 
.testi-sec .testi-wrap:after { position: absolute;
left: 20px;
bottom: -19px;
display: block;
width: 0;
height: 0;
border-width: 0 25px 20px;
border-style: solid;
border-color: transparent;
border-left-color: #fff;
content: ' ';
}
.testi-sec .testi-wrap:before { left: 19px;
bottom: -21px;
border-left-color: #fff; }*/
.testi-sec a.canyon-btn {
display: inline-block;
margin-top: 36px;
text-align: center;
margin-bottom: 8px;
 padding-top: 11px;
}
.mobile-header .frnphonenumber span {
color: #444;
font-size: 20px;
}
.testi-sec .testi-wrap::after {
background: rgba(0, 0, 0, 0) url("../images/testibg.png") no-repeat scroll left bottom;
content: "";
display: block;
height: 63px;
left: 0;
overflow: hidden;
position: absolute;
width: calc(100%);
}
.testi-sec .testi-wrap{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color;
border-image: none;
border-style: solid solid none;
border-width: 1px 1px 0;
}
@media only screen and (min-width: 768px) and (max-width:1104px) {  
#header .after-header{
display:none;
}
#header .logo_sec{
/*margin-bottom: 15px;*/
}
#header .frnphonenumber{
text-align: center;
}

}
@media only screen and (min-width: 1104px) and (max-width:1300px) {
#header #navigation .nav li > a{
font-size: 13px;
padding-left: 10px;
padding-right: 10px;

} 
#header .frnphonenumber span{
font-size: 13px;
line-height: 60px;
} 
#header .frnphonenumber i{
font-size: 16px;
line-height: 56px;
}
#header .single-menu{
font-size: 12px;
padding: 0 12%;
}
#header .after-header {
padding: 0;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item > a.mega-menu-link{
padding: 15px 19px 15px 4px;
}
}
@media only screen and (max-width: 1024px) {
.hero .row.VCenter{
padding: 0 14.5% 4%;
} 
.hero .hero-link-sec div:nth-child(2) {
border: medium none;
}
.hero-link-sec .tour-link{
margin-left: 0;
}
.hero .hero-link-sec div {
padding: 6px 10px;
}
}
@media only screen and (max-width: 500px) { 
h5.hero-subtitle span{
font-size: 14px;
line-height: 26px;
} 
h3.hero-title span{
font-size: 22px;
letter-spacing: 0.5px;
line-height: 26px;
}
.hero .hero-link-sec a{
font-size: 12px;
line-height: 29px;
}
.hero-link-sec .tour-link{
margin-left: 0;
}
.hero .hero-link-sec div:nth-child(2){
border:none;
}
.mobile-header .frnphonenumber span {
color: #444;
font-size: 5vw;
}
#mobile-header .fa.fa-phone {
font-size: 6vw;
}

}
/*@media only screen and (max-width: 1280px) { 
.testi-sec .testi-wrap::after {
height: 57px;
}
}
@media only screen and (max-width: 1024px) { 
.testi-sec .testi-wrap::after {
height: 55px;
}
}
@media only screen and (max-width: 480px) { 
.testi-sec .testi-wrap::after {
height: 42px;
}
}
@media only screen and (max-width: 360px) { 
.testi-sec .testi-wrap::after{
height: 41px;
}
}*/



#wrapper #header-container h3.nav-toggle.icon {
display: none !important;
}
#mobile-header .frnphonenumber {
display: block;
float: left;
font-size: 20px;
text-align: left;
/*font-family: "Proxima Nova SemiBold";*/
font-family:"proxima-nova";
font-weight: 600; 
}
#mobile-header .fa.fa-phone {
color: #444;
margin-left: 4px;
margin-right: 4px;
}

#mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu {
float: right;
}
#mobile-header .frnphonenumber h2 {
padding: 5%;
margin: 0;
}
#mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link {
font-size: 16px;
line-height: 30px;
padding: 15px 17.4%;
text-transform: uppercase;
/*font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600;
position: relative;
line-height: 31px;
}
#mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link:after{
color: #667f3a;
content: "\f333";
float: left;
font-family: "dashicons";
font-size: 45px;
margin: 0 5px;   
}

.testi-sec .row {
text-align: center;
}
@media only screen and (max-width: 500px) {  
.hero .row.VCenter {
padding: 0 4.5% 8%;
}
.hero img {
width: 50%;
}
#content .hero{
height: 27rem;
background: rgba(0, 0, 0, 0) url("../images/Cherie-Pilliod---Mens_Pool_Ext_Hero_02.jpg") no-repeat fixed 75% -25% / cover !important ;
} 
hr.hero_line{
margin: 25px 0 13px;
} 
.hero-link-sec .works-link{
background: rgba(0, 0, 0, 0) url("../images/mb-play.png") no-repeat scroll 0 0;
height: 20px;
width:20px;
 padding: 3px 38px;
}
.hero-link-sec .tour-link{
background: rgba(0, 0, 0, 0) url("../images/cam-mb.png") no-repeat scroll 0 0;
height: 13px;
width:20px;
}
.testi_wrapper {
padding: 7% 2% 4% 19%;
}
.testi-sec .row {
padding: 52px 15px 53px;
text-align: left;
}
.hero .hero-link-sec div {
padding: 2px 10px;
}
}

/*h3.hero-title span {
font-size: 12.75px;
letter-spacing: 2.5px;
line-height: 16.4px;
}
h5.hero-subtitle span {
font-size: 10.02px;
line-height: 16.4px;
}
h5.hero-subtitle {
border-bottom: 1px solid;
padding-bottom: 17px;
}
hr.hero_line{
opacity: 1;
} 
.hero .row.VCenter.columns.hero-link-sec {
padding-top: 9%;
}*/  

/*}*/
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link:after{
    color: #667f3a;
    content: "\f333";
    float: left;
    font-family: "dashicons";
    font-size: 45px;
    margin: 0 5px; 
}
@media only screen and (max-width: 768px) { 
body .lhn_help_btn{
    width: 50px;
}
}
@media only screen and (max-width: 400px) {
    section.diagnosis-sec{
         padding: 15% 8%;
    }
    .diagnosis-sec .row > p{
        font-size: 12px;
    line-height: 18px;
    margin: 10px 0 6%;
    }
    body .diagnosis-sec a.canyon-btn {
    margin-top: 15px;
    position: relative;
    display: inline-block;
}
h3.hero-title span {
    font-size: 12.75px;
    letter-spacing: 2.5px;
    line-height: 16.4px;
}
h5.hero-subtitle span {
    font-size: 10.02px;
    line-height: 16.4px;
}
h5.hero-subtitle {
    border-bottom: 1px solid;
    padding-bottom: 17px;
}
hr.hero_line{
/*     opacity: 1;*/
} 
.hero .row.VCenter.columns.hero-link-sec {
    padding-top: 9%;
}
}
body #content{
    margin-top:58px;
    max-width: 100% !important;
    padding: 0 !important; 
    overflow: hidden;
    border-radius: 0;
}
section.entry.columns {
    padding: 0;
}
.entry .tocsidebar {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 0;
}
.entry .tocsidebar .toc a {
    border-bottom: 1px solid #fff;
    color: #8fb352;
    display: inline-block;
    font-size: 16px;
/*    line-height: 60px;*/
    padding: 16px 0 16px 30px;
    width: 100%;
/*    font-family: "Proxima Nova SemiBold"; */
font-family:"proxima-nova";
font-weight: 600; 
     padding-left: 30px;
}
#content header h1.entry-title {
    color: #fff;
    font-size: 28px;
    line-height: 36px;
     padding: 15.5% 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
/*    font-family: "Proxima Nova SemiBold"; */
font-family:"proxima-nova";
font-weight: 600; 
     margin: 0;
}
header{
  background-repeat: no-repeat;
    background-size: cover;  
     position: relative;
}
.entry .content-wrap {
    padding: 31px 7vw;
}
.entry .content-wrap p{
/*    font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300; 
    font-size: 20px;
    line-height: 30px;
     float: left;
}
body .box{
     border: 1px solid #d2dadc;
      padding: 26px 38px 7px;
}
body .box > h2 {
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
/*    font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600;
      color: #444444;
}
body .box.green h2 {
    color: #fff;
}
 body #content ul li {
/*    font-family: "Proxima Nova Light";*/
font-family:"proxima-nova";
font-weight: 300;   
    font-size: 20px;
    line-height: 30px;
    padding-left: 12px;    
}
section.entry ul {
    list-style-image: url("../images/bullets-1.png");
     padding-left: 14px;
     display:inline-table;
}
#navigation ul.nav > li{
      padding-left: 0;
}
.content-wrap h2 {
    color: #444444;
    font-size: 28px;
    line-height: 36px;
/*    font-family: "Proxima Nova Extrabold";*/
font-family:"proxima-nova";
font-weight: 800;   
}
.box.green.half-left {
    background: #8fb352 none repeat scroll 0 0;
    border: 0 none;
    font-size: 20px;
    line-height: 30px;
    padding: 34px;
/*    font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300; 
    margin-right: 18px;
     margin-top: 8px;
      margin-bottom: 8px;
}
.box.green.half-left > h3 {
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
/*    font-family: "Proxima Nova SemiBold";   */
font-family:"proxima-nova";
font-weight: 600;  
}
body #content .box.green.half-left > ul li {
    padding-left: 0;
}
.box.green.half-left > ul {
    padding-left: 0;
}
.footer {
    border-top: 1px solid #b6b6b6;
}
body .box.green {
    background: #8fb352 none repeat scroll 0 0;
    border: 0 none;
    padding: 1.8em 1.9em;
/*    font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300; 
    font-size: 20px;
    line-height: 30px;
}
.box.half-right.green.large-6.columns {
    float: right;
    margin-left: 10px;
}
section.entry p:first-child {
    margin-bottom: 0;
    margin-top: 0;
}
body .box {
    padding: 34px;
      font-size: 20px;
    line-height: 30px;
/*    font-family: "Proxima Nova Light";  */
font-family:"proxima-nova";
font-weight: 300; 
}
.entry .tocsidebar .toc a:last-child {
    border-bottom: 0 none;
}
body .box.green > p {
     color: #fff;
/*    font-family: "Proxima Nova Light";*/
font-family:"proxima-nova";
font-weight: 300;
    font-size: 20px;
    line-height: 30px; 
}
header.article-back::before {
    background-color: #000;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
body .box.green a {
    color: #fff;
}
.nav-blog-menu ul#menu-blog-menu {
    background: #8fb352 none repeat scroll 0 0;
    padding: 0 10px;
    text-align: center;
}
.nav-blog-menu ul#menu-blog-menu li {
    display: inline-table;
     padding: 10px 20px;
       position: relative;
}
.nav-blog-menu ul#menu-blog-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
/*    font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600; 
}
.blog #main-sidebar-container #main {
    padding: 3.5% 21.3%;
}
.blog #main header h3 a {
    font-size: 30px;
    text-align: left;
}
.blog section.entry {
    padding: 0 !important;
    margin-top: 22px;
}
section.entry > p {
    font-size: 20px;
    line-height: 30px;
/*    font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300;
}
.blog section#main article h2 {
/*    font-family: "Proxima Nova Extrabold";*/
    font-family:"proxima-nova";
font-weight: 800; 
    color: #444444;
    font-size: 32px;
     line-height: 36px;
}
.blog .post-more {
    border-bottom: 0 none !important;
    border-top: 0 none;
    margin-bottom: 32px;
    margin-top: 14px;
}
.post-meta span, .post-meta .categories > a, .post-meta abbr{
/*    font-family: "fontProxima Nova88279 Regular"; */
font-family:"proxima-nova";
font-weight: 400; 
    color:#444444;
}
.post-meta abbr{
    border-bottom: 0 none;
    text-decoration: none;
}
.post-meta .categories > a{
   color:#8FB352;
   font-weight: normal; 
}
.blog .post-meta{
     margin: 3px 0;
}
.blog article .woo-image {
    width: 100%;
}
article div.blankspace {
    margin: 20px;
}
.blog article .post_thumbnail {
    margin-top: 12px;
}
.pagination.woo-pagination .page-numbers, .thumbs_wrap .bottom.pagination > a, .thumbs_wrap .bottom.pagination span {
 background: #fff none repeat scroll 0 0;
    border: 1px solid #d0d0d0;
    color: #717171 !important;
    font-family: "HelveticaNeueBd";
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    padding: 4px 8px;
       margin-left: 4px;
}
.pagination.woo-pagination .prev.page-numbers {
    background: rgba(0, 0, 0, 0) url("../images/prev.png") no-repeat scroll center center;
/*    margin-right: 6px;*/
     padding: 4px 13px;
}
.pagination.woo-pagination .next.page-numbers {
    background: rgba(0, 0, 0, 0) url("../images/next.png") no-repeat scroll center center; 
/*    margin-left: 6px;*/
    padding: 4px 13px;   
}
.pagination.woo-pagination .page-numbers.dots {
    border: 0 none;
}
.pagination.woo-pagination .page-numbers.current, .thumbs_wrap .bottom.pagination .current {
    background: #444444 none repeat scroll 0 0;
    color: #fff !important;
}
.blog .pagination.woo-pagination {
    margin-bottom: 10px;
    margin-top: 10px;
}
.show-menu {
/*    font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600;
    text-decoration: none;
    color: #fff;
    background: #8FB352;
    text-align: center;
    padding: 10px 0;
    display: none;
    cursor: pointer;
}
input[type="checkbox"]#show-menu{
    display: none;
}
input[type="checkbox"]#show-menu:checked ~ .menu-blog-menu-container ul#menu-blog-menu{
    display: block;
}

@media only screen and (max-width: 1000px){ 
.nav-blog-menu ul#menu-blog-menu {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
   .nav-blog-menu ul#menu-blog-menu li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .nav-blog-menu ul#menu-blog-menu li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}
.single-post #main-sidebar-container #main article, .single-post .single-post-share {
    padding: 4% 21.5%;
    position: relative;
}
.single-post .posts-nav{
     padding: 0% 21.5%;  
}
.single article h2 {
    color: #444444;
    font-size: 25px;
/*    font-family: "Proxima Nova Extrabold"; */
font-family:"proxima-nova";
font-weight: 800;
line-height: 36px;
}
.single-post section.entry {
    padding: 0 !important;
}
@media only screen and (max-width: 1200px){
   .blog #main-sidebar-container #main, .single-post #main-sidebar-container #main article, .single-post .single-post-share {
    padding: 3.5% 5.3%;
}
.single-post .posts-nav{
     padding: 0% 5.3%;  
}
.single section.entry {
/*    padding: 0 !important;*/
}
}
.box.green.half-left > h4, .box.green.half-right > h4, .box.green h4 {
    color: #fff;
    font-size: 20px;
/*    font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300;  
}
.single article h2.post-title {
    font-size: 34px;
}
.single #main .single-post-share .social-sharing a{
    padding: 8px 9vw 6px 0;
}
.single-post-share .social-sharing a.button-facebook::before {
    background-color: #344d90;
}
.single-post-share .social-sharing a.button-facebook {
    background-color: #2f4581;
}
.single-post-share .social-sharing a.button-twitter::before {
    background-color: #00A2ED;
}
.single-post-share .social-sharing a.button-twitter {
    background-color: #0092D7;
}
.single-post-share .social-sharing a.button-googleplus::before {
    background-color: #DB402C;
}
.single-post-share .social-sharing a.button-googleplus {
    background-color: #C73A28;
}
@media only screen and (max-width: 600px){  
    .single-post-share .social-sharing a {
    background-image: none !important;
    padding: 8px 9vw 8px 0;
    text-align: left;
    text-indent: 1px;
    width: 100%;
}
}
.posts-nav {
    padding: 0;
}
.posts-nav .post-nav {
    float: left;
}
.posts-nav .next-nav {
    float: right;
}
.posts-nav a {
    font-size: 16px;
/*    font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600;
}
.posts-nav .post-nav, .posts-nav .next-nav {
    border: 1px solid #ededed;
    border-radius: 2px;
    padding: 2px;
}
.posts-nav {
    margin-bottom: 67px;
    margin-top: 30px;
    padding: 0;
}
.post-nav > a::before{
    background: rgba(0, 0, 0, 0) url("../images/prev-nav.png") no-repeat scroll center center;
    content: "";
    padding: 0 10px;
}
.next-nav > a::after {
    background: rgba(0, 0, 0, 0) url("../images/bullets-1.png") no-repeat scroll center center;
    content: "";
    padding: 0 10px;
}
.post-nav > a {
    padding-right: 5px;
}
.next-nav a {
    padding-left: 7px;
}
#header #navigation ul.nav-search a.search-contents + ul{
    visibility: visible;
    display:none;
    margin-top: 2px;
}
.contact-options {
    text-align: center;
     padding: 17px 0 32px;
}
.contact-options i {
    color: #8fb352;
    font-size: 21px;
}
.contact-options span{
/*    font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600; 
    color:#444444;
    width: 100%;
    float: left;
    line-height: 34px;
}
i.mail-icon{
    background: rgba(0, 0, 0, 0) url("../images/email.png") no-repeat scroll center center;
    content: "";
    height: 18px;
    padding: 1px 10px;
}
i.chat-icon{
    background: rgba(0, 0, 0, 0) url("../images/chat.png") no-repeat scroll center center;
     height: 30px;
    padding: 10px 20px;
    content: "";  
}
.contact-options .contact-info {
    color: #8fb352;
    font-size: 25px;
/*    font-family: "Proxima Nova SemiBold";  */
font-family:"proxima-nova";
font-weight: 600;
}
.single-post .single-post-share {
    overflow: hidden;
    padding-top: 22px;
     padding-bottom: 0;
}
hr.contact-hr {
    background-image: none;
    border-color: #e6e6e6;
    display: table;
    width: 64%;
}
.contact-options .phn-number > span{
    color: #8fb352;  
}
.photospace_res .thumbs_wrap2 {
    display: table-footer-group;
    width: 100%;
}
.photospace_res{
    display: table;
    width: 100%;
    margin-top: 27px;
}
.thumbs_wrap .bottom.pagination{
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.thumbs_wrap .bottom.pagination .pprev {
    color: transparent;
}
.thumbs_wrap .bottom.pagination .pprev::after, .thumbs_wrap .bottom.pagination .pnext::after {
    background: rgba(0, 0, 0, 0) url("../images/prev.png") no-repeat scroll center center;
    content: "";
    height: 8px;
    padding: 2px 3px;
    width: 6px;
}
.thumbs_wrap .bottom.pagination .pnext::after{
   background: rgba(0, 0, 0, 0) url("../images/next.png") no-repeat scroll center center;  
}
.photospace_res .psr_paging{
       display: none;
}
.thumbs_wrap .bottom.pagination {
    overflow: hidden;
    padding: 28px 0;
    text-align: center;
    width: 100%;
}
.gal_content .slideshow-container .slideshow {
    background: rgba(0, 0, 0, 0) url("../images/paper-subtle.png") repeat scroll center center;
    margin: 15px;
    padding: 18px 0;  
}
.photospace_res .ss-controls{
    display: none;
}
.photospace_res .nav-controls .prev > span, .photospace_res .nav-controls .next > span {
    background: rgba(0, 0, 0, 0) url("../images/prev-nav-gl.png") no-repeat scroll center center;
    padding: 15px 25px;
    float: left;
    height: 50px;
    color: transparent;
    margin-left: 14%;
}
.photospace_res .nav-controls .next > span{
    background: rgba(0, 0, 0, 0) url("../images/next-nav-gl.png") no-repeat scroll center center;
    float: right;
    margin-right: 14%;
}
.photospace_res .controls {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 1;
}
.canyon_photos .photospace_res .controls { top: 45%; }
@media only screen and (max-width: 950px) {   
    .photospace_res .slideshow img{
        width: 74%;
    }
}
@media only screen and (max-width: 1300px) {  
    .photospace_res .nav-controls .prev > span, .photospace_res .nav-controls .next > span{
       margin-left: 10%;  
       margin-right: 10%;
    }
}
@media only screen and (max-width: 1000px) { 
    .photospace_res .nav-controls .prev > span, .photospace_res .nav-controls .next > span{
       margin-left: 3%;  
       margin-right: 3%;
    }
}
@media only screen and (max-width: 600px) { 
   .photospace_res .nav-controls .prev > span{
       background: rgba(0, 0, 0, 0) url("../images/prev-nav-gl-mb.png") no-repeat scroll center center; 
   } 
   .photospace_res .nav-controls .next > span{ 
       background: rgba(0, 0, 0, 0) url("../images/next-nav-gl-mb.png") no-repeat scroll center center;  
   }
}
h2.gallery-title {
    color: #444444;
    font-size: 36px;
    line-height: 36px;
    margin-top: 58px;
/*    font-family: "Proxima Nova Extrabold"; */
font-family:"proxima-nova";
font-weight: 800; 
    text-align:center;
}
.image-caption .caption .image-caption {
    border-bottom: 1px solid #e6e6e6;
    color: #444444;
/*    font-family: "Proxima Nova Light";*/
font-family:"proxima-nova";
font-weight: 300;  
    font-size: 20px;
    line-height: 30px;
    margin: 5px 19% 3.5%;
    padding-bottom: 3.6%;
    text-align: left;
}
.caption-hr {
    background-image: none;
    border-color: #e6e6e6;
    margin: 6% 0 5.7%;
}
.ui-accordion .ui-accordion-content{
     color: #444444;
}
.box.lblue > h2 {
    color: #444444;
}
.author img {
    border-radius: 50%;
    width: 100px;
    height:100px;
}
.author .text {
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    padding-top: 2%;
}
.author .text strong a {
    color: #444444;
}
.author .text a.google{
    background: rgba(0, 0, 0, 0) url("../images/google-plus.png") no-repeat scroll 0 0;
    padding: 4px 17px;
}
.author .author-social {
    float: right;
}
.box.related-topics {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.box.related-topics > h3 {
    color: #808080;
    font-size: 19.94px;
    line-height: 59.82px;
/*    font-family: "Proxima Nova SemiBold"; */
font-family:"proxima-nova";
font-weight: 600;
    margin-bottom: 0;
}
.box.related-topics > ul {
    list-style-image: none;
    list-style-type: none;
}
body #content .box.related-topics ul li {
    font-size: 19.94px;
    line-height: 29.91px;
/*    font-family: "Proxima Nova SemiBold"; */
font-family:"proxima-nova";
font-weight: 600; 
}
.box.citations > h3 {
    font-size: 20px;
    line-height: 60px;
}
.box.citations {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.box.citations a, .box.citations > p {
    font-size: 20px;
    line-height: 30px;
/*    font-family: "Proxima Nova SemiBold"; */
font-family:"proxima-nova";
font-weight: 600;
}
.box.citations a[rel~="external"], .box.citations > p{
    color: #808080; 
     position: relative;
}
.box.citations a[name^="_ftn"] {
     height: 22px;
    left: -10px;
    margin-left: 9px;
    margin-right: 15px;
    margin-top: -9px;
    position: absolute;
    text-align: right;
    width: 25px;
    color:#8fb352;
}
.box.citations > p {
    padding-left: 29px;
}
@media only screen and (max-width: 768px){
    body .box, body .box.green{
          padding: 20px;
    }
    section.entry ul{
        padding-left: 3px;
    }
    .ui-accordion .ui-accordion-content{
         padding: 20px;
    }
}
body .entry h2, body  h2{
    color: #444444;
/*    font-family: "Proxima Nova Extrabold";*/
font-family:"proxima-nova";
font-weight: 800;  
    font-size: 28px;
    line-height: inherit;
      display: table;
       margin: 10px 0;
        width: 100%;
}
body, body p{
/*    font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300;
    font-size:20px;
    line-height:30px;
    color:#444444;
}
@media only screen and (max-width: 1024px){
     .entry .tocsidebar{
            height: auto !important;
     }
}
#about-desc {
    padding: 5.7% 10%;
    text-align: center;
}
#about-sub-nav .sec-wrapper {
    color: #fff;
    padding: 12.9% 4%;
    position: relative;
    text-align: center;
    z-index: 5;
    background-blend-mode: multiply;
}
#about-sub-nav .sec-wrapper {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.sec-wrapper > p {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
     padding: 13px 0;
}
#about-sub-nav h5 {
    color: #fff;
    font-size: 28px;
    line-height: 36px;
/*    font-family: "Proxima Nova SemiBold";   */
font-family:"proxima-nova";
font-weight: 600;
}
.sec-wrapper .canyon-btn {
    border-color: #fff;
    color: #fff;
    display: inline-block;
    margin-top: 31px;
    padding: 10px 42px;
    position: relative;
}
#about-sub-nav .sub-nav-sec {
    padding: 10px;
}
#about-sub-nav {
      padding: 3.5% 10px 5.5%;
}
@media only screen and (min-width: 1025px) { 
     .sec-wrapper > p {  
          overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 77px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
     }
}
@media only screen and (min-width: 641px) and (max-width:1024px) { 
    .sec-wrapper > p {  
          overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 98px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
     }
}
@media only screen and (max-width: 641px){
      .sec-wrapper > p{
           font-size: 15px;
    line-height: 23px;
      }
      .sec-wrapper .canyon-btn{
          margin-top: 20px;
      }
}
.canyon_photos .photospace_res .slideshow img{
    width: 64%;
}
.canyon_photos > h2 {
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 1.7%;
}
.staff-list .staff-member {
    text-align: center;
     margin-bottom: 1%;
}

.staff-info .spost, .staff-info .sname{
    float: left;
    width: 100%;
    color:#444444;  
/*    font-family: "fontProxima Nova88279 Regular"; */
font-family:"proxima-nova";
font-weight: 400;
}
.staff-info .sprofile {
    font-size: 14px;
    line-height: 24px;
}
.staff-info .sname, .staff-info .sprofile {   
/*    font-family: "Proxima Nova SemiBold";   */
font-family:"proxima-nova";
font-weight: 600;
}
.staff-member .img-wrap {
    background-color: #e5e5e5;
     max-height: 156px;
    overflow: hidden;
}
.staff-list .staff-members {
     padding: 4.5% 6% 0;
}
.staff-list > h2 {
    text-align: center;
     margin-bottom: 1.7%;
     width: 100%;
}
.staff-list .staff-overview {
     font-size: 20px;
    line-height: 30px;
    padding: 10px 6.3%;
    text-align: center;
/*    font-family: "Proxima Nova Light"; */
font-family:"proxima-nova";
font-weight: 300;
}
.staff-info .sname {
    font-size: 18px;
}
.staff-member .staff-info {
    margin-bottom: 10px;
    margin-top: 10px;
}
.staff-list {
    padding-top: 1%;
    
}
.staff-info .sname > a{
    color: #444444;    
    font-family:"proxima-nova";
font-weight: 300;
    
}
.mega-mobilemenu .inner-resource {
    display: block !important;
}
.footer .mobile-strip {
    background: #8fb352 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
/*    padding: 16px 0;*/
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1;
    display:none;
}
.mobile-strip span {
    color: #fff;
    font-size: 26px;
    padding-left: 7px;
/*    font-family: "Proxima Nova SemiBold";*/
font-family:"proxima-nova";
font-weight: 600;
    
}
body .cd-top{
    bottom: 70px;
}
.frnphonenumber h2 span a {
    color: #444444;
}
.diagnosis-sec a.canyon-btn {
    padding: 10px 4%;
}
#mobile-strip a {
    color: #fff;
}
section.entry .outerwrapper {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 3%;
}
.outerwrapper > h2 {
    text-align: center;
}
hr {
    background-image: none;
}
#mobile-strip > p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu.mega-toggle-on a.mega-menu-link::after, #mobile-header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu.mega-toggle-on a.mega-menu-link::after {
    content: "\f335";
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu ul.mega-sub-menu ul.mega-sub-menu a.mega-menu-link {
    text-transform: capitalize;
    font-family:"proxima-nova";
    font-size: 16px;
    font-weight: 400;
    word-wrap: normal;
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu ul.mega-sub-menu li.mega-contactsubmenu ul.mega-sub-menu a.mega-menu-link{
    text-transform:uppercase;
}
.photospace_res li a:hover, .photospace_res li.selected a{
    opacity:1;
}
body .box.gray p.sub-text{
     font-size: 37px;
    font-style: italic;
    line-height: 43px;
     margin-bottom: 0.2em;
}
.aboutauthor_section .box.gray .sub-text_second{
    font-size: 38px;
    line-height: 35px;
}
.aboutauthor_section .box.gray h4{
     font-weight: 600;
}
body .box > p {
    font-family: "proxima-nova";
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #808080;
}
.photospace_res .thumbs_wrap a.thumb{
     cursor: pointer !important;
}
form.searchform {
    border: 0 none;
}
form.searchform .fa-search::before {
    color: transparent;
    font-family: unset;
    font-size: inherit;
    line-height: unset;
}
.accordion.ui-accordion {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    width: 100%;
    margin-bottom: 27px;
}
section.entry .box.green ul{
    list-style-image:url("../images/bullet-white.png");
}
body ol li {
    color: #444444;
    counter-increment: list;
    font-size: 20px;
    line-height: 30px;
    list-style-type: none;
    position: relative;
    font-family: "proxima-nova";
    font-weight: 300;
}
body ol li:after {
    color: #8fb352;
    content: counter(list, decimal);
    font-family: "proxima-nova";
    font-size: 14px;
    font-weight: 900;
    left: -3.5em;
    line-height: 30px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 2em;
}
.nav-blog-menu ul#menu-blog-menu li.current-menu-item:before{
    border-color: #8FB352 transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    content: "";
    left: 47%;
    position: absolute;
    top: 98%;
}
.nav-blog-menu ul#menu-blog-menu li a:hover {
    text-decoration: none;
}
.entry .tocsidebar .toc a:hover {
    text-decoration: none;
}
body hr {
    background-image: none;
}
#mobile-header #logo {
    border-top: 1px solid #bfbfbf;
    display: block;
    height: auto;
}
#mobile-header #logo img {
    height: auto;
    padding: 16px 0;
}
.box strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}
.box strong a:hover {
    text-decoration: none;
}
.ui-state-default .ui-icon{
    background-position-x:center;
    background-position-y:center;
}
body .box .accordion p a {
    color: #8fb352;
}
body .ui-accordion .ui-accordion-icons{
    display: inline-table;
    width: 100%;
    margin: 0 auto;
    font-family: "proxima-nova"; 
    font-size: 20px;
    font-weight: 600;
}
.box.green > h3, .box.green > h1, .box.green > h4, .box.green > h5, .box.green > h6 {
    color: #fff;
}
.entry .box.green td {
    color: #444;
}
.box.green p {
    color: #fff;
    font-family: "proxima-nova";  
    font-weight:300;
}
body .entry p, body .columns{
    font-family: "proxima-nova";  
    font-weight:300;
    font-size: 20px;
    line-height: 30px;
    word-wrap: normal;
/*    float: left;*/
}
.ui-accordion .ui-accordion-content p {
    color: #444;
}
#logo a{
    line-height: 56px;
}
#header #nav-container #navigation {
    margin-bottom: 0;
}
@media only screen and (min-width: 1025px) and (max-width:1104px) {  
      #header .contact-info {
    width: 61%;
}
}
@media only screen and (min-width: 1105px) and (max-width:1300px) { 
     #header .single-menu{
            padding: inherit;
     }
     #header .contact-info {
    width: 30%;
}
}
@media only screen and (min-width: 1025px) and (max-width:1240px) { 
    .hero-link-sec .tour-link{
          margin-left: 0;
    }
    .hero .hero-link-sec a{
          font-size: 14px;
    }
}
/*.testi-sec a.canyon-btn:hover {
    background-color: #fff;
} */
.footer .socialshare a, .single-post-share .social-sharing a{
    backface-visibility: hidden;
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
       -webkit-transform:translateZ(0px);
      -o-transform : translateZ(0px);
      -moz-transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color;
    vertical-align: middle;
}
.footer .socialshare a:after, .single-post-share .social-sharing a:after{
    background: #667F3A none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    -webkit-transform:scaleX(0);
      -o-transform : scaleX(0); 
      -moz-transform: scaleX(0); 
    transform-origin: 0 50% 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
    border-radius: 3px;
}
.footer .socialshare a:hover:after, .single-post-share .social-sharing a:hover:after{
    transform: scaleX(1);
    -webkit-transform:scaleX(1);
      -o-transform : scaleX(1); 
      -moz-transform: scaleX(1); 
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.footer .socialshare a.button-facebook:hover:before, .single-post-share .social-sharing a.button-facebook:hover:before, .footer .socialshare a.button-twitter:hover:before, .single-post-share .social-sharing a.button-twitter:hover:before, .footer .socialshare a.button-googleplus:hover:before, .single-post-share .social-sharing a.button-googleplus:hover:before{
     background-color: #8fb352;
}
.footer .address ul li {
    line-height: 20px;
}
.footer .address .left-side-col {
    padding-top: 8px;
}
.footer .address .columns.large-6 {
    padding: 2.5% 0;
}
.footer .address .right-side-col {
    padding-top: 4px;
     padding-bottom: 15px;
}
.footer .address .right-side-col .socialiconmob {
    padding-top: 10px;
     padding-left: 0;
    padding-right: 0;
}
.footer .address .first-col {
    margin-left: 30px;
}
.footer .address .secondmobilemenu .second-col {
    margin-left: 13%;
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link:hover{
      color: #fff;
}
#header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #header #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-right-menu ul.mega-sub-menu li.mega-contactsubmenu ul.mega-sub-menu a.mega-menu-link:hover{
    color:#8FB352;
}
@media only screen and (min-width: 1200px){
.aboutauthore_welcome .box.gray, .aboutauthor_section .aboutkath, .single-location .aboutsection .content_sec, section.entry .content_sec{
     padding: 0 13%;
}  
}
.entry.aboutauthore_welcome {
    padding-bottom: 3% !important;
    padding-top: 4% !important;
}
section.entry.aboutauthor_section{
   padding-bottom: 3.5% !important;
    padding-top: 5% !important; 
}
.aboutauthore_welcome .box.gray, .aboutauthor_section .aboutkath, .single-location .aboutsection .content_sec{
     margin-bottom: 0;
      background: transparent none repeat scroll 0 0;
}
.staffheadersection .staff-info {
    margin-bottom: 13px;
    overflow: hidden;
}
.staff-info .qualification {
    margin-left: 7px;
}
.entry .tocsidebar .toc a.active:before{
    border-color: transparent transparent transparent #444444;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    content: "";
    left: 0;
    margin-top: 3px;
    position: absolute;
}
.entry .tocsidebar .toc a.active{
       color: #444444; 
}
.single-location section.diagnosis-sec p {
    margin-bottom: 15px;
    padding: 0;
}
.single-location section.diagnosis-sec {
    padding-bottom: 5%;
    padding-top: 5%;
}
@media only screen and (max-width: 1024px){
   .footer .address .col-full .columns.large-6 .columns.large-4:first-child{
        padding-left: 0;
   } 
   .footer .address .first-col{
       margin-left:10px;
   }
}
@media only screen and (max-width: 788px){ 
    .footer .address .columns.large-6{
        width: 100%;
    }
    .footer .address .columns.large-6:last-child{
          border: 0 none;
    }
    .footer .address .first-col{
         margin-left: 30px;
    }
    .footer .address .col-full .columns.large-6 .columns.large-4:first-child{
        padding-left: 8%;
    }
    .footer .address .secondmobilemenu .second-col {
    margin-left: 25%;
}
}
@media only screen and (max-width: 360px){  
    .footer .address .col-full .columns {
    width: 100%;
/*    padding-left: 8%; */
}
.footer .address .first-col{
      margin-left: 3%;
}
.footer .address .secondmobilemenu .second-col {
    margin-left: 6%;
    margin-top: 20px;
}
}
.footer .socialshare a, .single-post-share .social-sharing a{
    padding: 4px 6.7% 3px 0;
}
section.entry {
    overflow: hidden;
}
.content_sec .columns:first-child {
    padding-left: 0;
}
.content_sec .columns:last-child {
    padding-right: 0;
}
.footer .address ul li a:hover {
    color: #444;
}
.footer .address .columns.large-6 .columns.large-9 a:hover {
    color: #444;
}
.readmore:hover{
     background-color: transparent;
}
/*.single-location section.entry {
    padding-top: 0 !important;
}*/
body a.canyon-btn:active {
    color: #fff;
}
/*#tocsidebar.stick {
    margin-top: 61px;
    position: fixed;
    top: 0;
    z-index: 100;
}*/
 /*#tocsidebar.fixed {
    position: fixed;
    top: 0;
}*/
section.entry .content-wrap{
    float:right;
}
.sticky-placeholder {
    display: none;
}
.scroll-pane
{
    width: 100%;
/*    height: 200px;*/
    overflow: auto;
}
.jspVerticalBar .jspTrack{
    background: #f2f2f2 none repeat scroll 0 0;
}
.jspVerticalBar .jspDrag {
    background: #d0d0d0 none repeat scroll 0 0;
    border-radius: 4px;
    left: 10px;
    right: 0;
    width: 5px;
}
.jspContainer{
       width: 100% !important;
}
.jspPane{
    width: 100% !important;
}
#html5-watermark {
    display: none;
}
a[x-apple-data-detectors], a[href^="tel"] {
  color: #444 !important;
  text-decoration: none !important;
  font-size: 23px!important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: 59px  !important;
}
@media only screen and (max-width: 1024px) {
    .footer .address .columns.large-6 .columns.large-9{
         padding: 0 0 0 6%;
           word-wrap: normal;
    }
}
@media only screen and (max-width: 500px) {
#mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link::after{
     font-size: 35px;
}
a[x-apple-data-detectors], a[href^="tel"] {
  color: #444 !important;
  text-decoration: none !important;
  font-size: 5.5vw!important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: 59px !important;
}
.footer .socialshare a[x-apple-data-detectors], .single-post-share .social-sharing a[x-apple-data-detectors] {
    padding: 4px 6.7% 4px 0;
} 
img{
     width: 100%;
}
.footer img {
    width: auto;
}
.footer .address .columns.large-6 .columns.large-9{
    padding: 0;
}
.footer .address .resourse-col {
    padding-left: 0;
}
.footer .address .secondmobilemenu .second-col{
      margin-left: 0;
}
.footer .address .first-col {
    margin-left: 0;
}
.footer .secondmobilemenu {
    padding: 0;
}
.footer .address .col-full .columns.large-6 .columns.large-4:first-child{
     padding-left: 0;
}
}
#frn_floating_footer .frn_floating_ftr_intro {
    color: #fff;
    font-family: "proxima-nova";
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}
#frn_floating_footer {
    background-color: #8fb352 !important;
    border: medium none !important;
}
#frn_floating_footer a[href^="tel"] {
    color: #fff !important;
    font-weight: 600 !important;
    font-family: "proxima-nova" !important; 
    line-height: 25px !important;
}
#mobile-header .frnphonenumber h2{
    padding:0;
}
.mobile-header .frnphonenumber span{
    line-height: 59px;
}
.footer ul li a {
    word-wrap: normal;
}
img{
     overflow: hidden;
}
body .box.green .ui-accordion h3.ui-accordion-icons {
    margin: 0;
}
body h3.ui-accordion-icons .plus {
    display: none;
}
@media only screen and (min-width: 1024px) {  
    .contactpage .middlection{
         padding-left: 2%;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{

#header .mega-menu-sec ul.mega-menu li.mega-right-menu{
    margin-top:-60px !important;  
}
::i-block-chrome,#header .mega-menu-sec ul.mega-menu li.mega-right-menu {
     margin-top:-75px !important; 
    }

}
_::-webkit-:not(:root:root), #header .mega-menu-sec ul.mega-menu li.mega-right-menu {
      margin-top:-75px !important;     
}
@media only screen and (max-width: 1199px) { 
    .aboutauthore_welcome .box.gray, .aboutauthor_section .aboutkath, .single-location .aboutsection .content_sec{
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 768px) { 
    #mobile-header .mega-menu-sec ul#mega-menu-max_mega_menu_1 li.mega-right-menu a.mega-menu-link{
            font-size: 13px;
            display: inline-block;
            padding: 15px 30px;
    }
}
.footer .socialshare a, .single-post-share .social-sharing a{
    min-height: 40px;
}
.single #main .single-post-share .social-sharing a.button-facebook:hover:before{
     background-color: #2F4581;
}
.single #main .single-post-share .social-sharing a.button-facebook:after{
      background-color: #344d90
}
.single #main .single-post-share .social-sharing a.button-twitter:hover:before{
     background-color: #0092D7;
}
.single #main .single-post-share .social-sharing a.button-twitter:after{
      background-color: #00A2ED
}
.single #main .single-post-share .social-sharing a.button-googleplus:hover:before{
     background-color: #C73A28;
}
.single #main .single-post-share .social-sharing a.button-googleplus:after{
      background-color: #DB402C
}
@media only screen and (min-width: 768px){
.locationlist .location-content > p{
         overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 92px;      
   -webkit-line-clamp: 3; 
   -webkit-box-orient: vertical;
   min-height: 92px;
     line-height: 30px; 
     }
}
@media only screen and (min-width: 768px) and (max-width:1024px) {  
.location-content .maptext{
        overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 97px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical; 
   min-height: 97px; 
/*    word-wrap: normal;*/
    line-height: 27px;  
     }
}
.single-post .breadcrumb > li + li::before, .single-post .breadcrumb .post-root{
    color:#444;
}
.single-post .breadcrumb .current_item {
    display: none;
}
.page-template-template-gallery .breadcrumb .current_item, .page-template-template-gallery .breadcrumb .current_item:before {
    color: #444;
}
.content_sec .box .columns:first-child {
    padding-left: inherit;
}
@media only screen and (max-width: 767px){ 
    .footer .ournetworklogo {
    display: none;
}
.footer .address {
    display: none;
}
.footer .ournetworklogo + hr {
    display: none;
}
.footer .address + hr {
    display: none;
}
.footer .numbersection .columns > span {
    display: block;
}
body .footer .numbersection .col-full .columns:first-child {
    padding-bottom: 0;
    padding-top: 37px;
}
.footer .numbersection .col-full label{
    margin-left:0;
}
.copyright p br {
    display: none;
}
.footer .numbersection .canyon-btn {
    display: inline-table;
    margin-bottom: 21px;
    margin-top: 9px;
}
}

/*4-28-16 CSS*/

/*CSS MARCO*/
.map iframe{
    pointer-events: none;
}